.btn:hover > .popup_box{
display: block;
}

.popup_box:hover{
  display: block;
}

.popup_box{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 200px;
  padding: 15px;
  font-size: 13px;
  background-color: lightblue;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
